version: '3.8'
services:
  db:
    image: postgres:16
    environment:
      # Credentials used by the Odoo container
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
    volumes:
      - odoo-db-data:/var/lib/postgresql/data
      #- ./backups:/var/lib/odoo/.local/share/Odoo/backups
    restart: unless-stopped
    networks:
      - odoo-network

  odoo:
    build: . 
    depends_on:
      - db
    ports:
      - "8069:8069"
    volumes:
      - odoo-web-data:/var/lib/odoo
      - ./config:/etc/odoo
      - ./addons:/mnt/extra-addons # Your custom code
      - ./oca:/mnt/oca-addons      # Your OCA modules
    environment:
      # Odoo connection settings to the 'db' service
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo
    restart: unless-stopped
    networks:
      - odoo-network

volumes:
  odoo-db-data:
  odoo-web-data:

networks:
  odoo-network:
    driver: bridge